In [1]:
#import csv into df

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl
import os

# Set the working directory
os.chdir("G:\\DIY Guru\\Data-Science-and-Engineering-Analytics\\VED\\Data")
# Read the CSV file into a DataFrame
df_Gas = pd.read_excel("VED_Static_Data_ICE&HEV.xlsx")
df_EV = pd.read_excel("VED_Static_Data_PHEV&EV.xlsx")

# Display the first few rows of the DataFrame
print(df_Gas.head())
print(df_EV.head())

   VehId Vehicle Type Vehicle Class Engine Configuration & Displacement  \
0      2          ICE           Car                       4-FI 2.0L T/C
1      5          HEV           Car                 4-GAS/ELECTRIC 2.0L
2      7          ICE           SUV                           6-FI 3.6L
3      8          ICE           Car                           4-FI 1.5L
4     12          ICE           Car                           4-FI 1.8L

  Transmission Drive Wheels Generalized_Weight
0      NO DATA      NO DATA               3500
1      NO DATA      NO DATA               3500
2    AUTOMATIC      NO DATA               4500
3  5-SP MANUAL      NO DATA               2500
4      NO DATA      NO DATA               2500
   VehId EngineType Vehicle Class Engine Configuration & Displacement  \
0      9       PHEV           Car                 4-GAS/ELECTRIC 1.4L
1     10         EV           Car                            ELECTRIC
2     11       PHEV           Car                 4-GAS/ELECTRIC 2.0L
3    371       PHEV           Car                 4-GAS/ELECTRIC 2.0L
4    379       PHEV           Car                 4-GAS/ELECTRIC 1.4L

  Transmission Drive Wheels  Generalized_Weight
0      NO DATA          FWD                4000
1      NO DATA          FWD                3500
2          CVT          FWD                4000
3          CVT          FWD                4000
4      NO DATA          FWD                4000

In [ ]:
for i in df_Gas.columns:
    u = df_Gas[i].unique()
    print(i, len(u), u)

In [ ]:
df_EV.columns

In [2]:
# rename the columns
df_EV.rename(columns={
    'EngineType': 'Vehicle Type',
}, inplace=True)

In [3]:
# Replace the values in the 'Generalized_Weight' column
df_Gas['Generalized_Weight'] = df_Gas['Generalized_Weight'].replace({
    'NO DATA': np.nan
})
df_Gas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357 entries, 0 to 356
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   VehId                                357 non-null    int64
 1   Vehicle Type                         357 non-null    object
 2   Vehicle Class                        357 non-null    object
 3   Engine Configuration & Displacement  357 non-null    object
 4   Transmission                         354 non-null    object
 5   Drive Wheels                         357 non-null    object
 6   Generalized_Weight                   341 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 19.7+ KB

C:\Users\DELL\AppData\Local\Temp\ipykernel_13216\2446815317.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_Gas['Generalized_Weight'] = df_Gas['Generalized_Weight'].replace({

In [4]:
df_EV['Generalized_Weight'] = df_EV['Generalized_Weight'].astype(float)

In [5]:
# union the two dataframes

df_static = pd.concat([df_Gas, df_EV], ignore_index=True)
df_static.info()
df_static.describe()
df_static.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   VehId                                384 non-null    int64
 1   Vehicle Type                         384 non-null    object
 2   Vehicle Class                        384 non-null    object
 3   Engine Configuration & Displacement  384 non-null    object
 4   Transmission                         381 non-null    object
 5   Drive Wheels                         384 non-null    object
 6   Generalized_Weight                   368 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 21.1+ KB

,VehId,Vehicle Type,Vehicle Class,Engine Configuration & Displacement,Transmission,Drive Wheels,Generalized_Weight
0,2,ICE,Car,4-FI 2.0L T/C,NO DATA,NO DATA,3500.0
1,5,HEV,Car,4-GAS/ELECTRIC 2.0L,NO DATA,NO DATA,3500.0
2,7,ICE,SUV,6-FI 3.6L,AUTOMATIC,NO DATA,4500.0
3,8,ICE,Car,4-FI 1.5L,5-SP MANUAL,NO DATA,2500.0
4,12,ICE,Car,4-FI 1.8L,NO DATA,NO DATA,2500.0

In [6]:
df_static_grouped = df_static.groupby(['Vehicle Type']).agg({'Generalized_Weight': 'mean','VehId' : 'count'}).reset_index()
df_static_grouped.sort_values(by='VehId', ascending=False, inplace=True)
df_static_grouped.reset_index(drop=True, inplace=True)
df_static_grouped

  Vehicle Type  Generalized_Weight  VehId
0          ICE         3552.419355    264
1          HEV         3204.301075     93
2         PHEV         3854.166667     24
3           EV         3500.000000      3

In [ ]:
for i in df_static.columns:
    u = df_static[i].unique()
    print(i, len(u),"\n",u,"\n")

In [7]:
df_static.replace('NO DATA', np.nan, inplace=True)

In [8]:
df_static.to_excel("VED_Static_Data_ICE&HEV_PHEV&EV.xlsx", index=False)

In [ ]:
# import csv data into df from the folder
import csv
import os
import pandas as pd
# Set the directory containing the CSV files

directory = ("G:\\DIY Guru\\Data-Science-and-Engineering-Analytics\\VED\\Data\\VED_DynamicData_Part1")
directory2 = ("G:\\DIY Guru\\Data-Science-and-Engineering-Analytics\\VED\\Data\\VED_DynamicData_Part2")
# Create an empty list to store the DataFrames
dataframes = []
# Loop through each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        # Append the DataFrame to the list
        dataframes.append(df)

for filename in os.listdir(directory2):
    if filename.endswith(".csv"):
        # Construct the full file path
        file_path = os.path.join(directory2, filename)
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        # Append the DataFrame to the list
        dataframes.append(df)



#Concatenate all DataFrames in the list into a single DataFrame
df_dynamic = pd.concat(dataframes, ignore_index=True)

In [ ]:
#Concatenate all DataFrames in the list into a single DataFrame
df_dynamic = pd.concat(dataframes, ignore_index=True)

In [ ]:
df_dynamic.info()
df_dynamic.head()

In [9]:
import os
import random
import pandas as pd
from glob import glob

# Set your folders here
dir1 = ("G:\\DIY Guru\\Data-Science-and-Engineering-Analytics\\VED\\Data\\VED_DynamicData_Part1")
dir2 = ("G:\\DIY Guru\\Data-Science-and-Engineering-Analytics\\VED\\Data\\VED_DynamicData_Part2")

# Set sampling fraction or number of rows
sample_fraction = 0.05  # 5% sample
sample_rows = None      # Or set sample_rows = 1000 to get 1000 rows from each file

# Combine all CSV file paths
csv_files = glob(os.path.join(dir1, '*.csv')) + glob(os.path.join(dir2, '*.csv'))

# Function to sample a CSV file without loading all rows
def sample_csv(filepath, fraction=None, n_rows=None):
    with open(filepath) as f:
        # Count total number of lines
        total_lines = sum(1 for line in f) - 1  # excluding header

    if n_rows:
        skip = sorted(random.sample(range(1, total_lines + 1), total_lines - n_rows))
    elif fraction:
        keep_rows = int(total_lines * fraction)
        skip = sorted(random.sample(range(1, total_lines + 1), total_lines - keep_rows))
    else:
        raise ValueError("Provide either 'fraction' or 'n_rows'")

    return pd.read_csv(filepath, skiprows=skip, low_memory=False)

# Read and concatenate sampled data
sampled_dfs = []

for file in csv_files:
    try:
        df_sample = sample_csv(file, fraction=sample_fraction, n_rows=sample_rows)
        sampled_dfs.append(df_sample)
    except Exception as e:
        print(f"Skipping file {file} due to error: {e}")

# Final combined sampled DataFrame
df_dynamic = pd.concat(sampled_dfs, ignore_index=True)

print(f"Final sampled dataset shape: {df_dynamic.shape}")

Final sampled dataset shape: (1121815, 22)

In [11]:
df_static.head()

,VehId,Vehicle Type,Vehicle Class,Engine Configuration & Displacement,Transmission,Drive Wheels,Generalized_Weight
0,2,ICE,Car,4-FI 2.0L T/C,NaN,NaN,3500.0
1,5,HEV,Car,4-GAS/ELECTRIC 2.0L,NaN,NaN,3500.0
2,7,ICE,SUV,6-FI 3.6L,AUTOMATIC,NaN,4500.0
3,8,ICE,Car,4-FI 1.5L,5-SP MANUAL,NaN,2500.0
4,12,ICE,Car,4-FI 1.8L,NaN,NaN,2500.0

In [30]:
df_dynamic.head()

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Short Term Fuel Trim Bank 1[%],Short Term Fuel Trim Bank 2[%],Long Term Fuel Trim Bank 1[%],Long Term Fuel Trim Bank 2[%],Time,DateTime,Date
0,1.586651,8,706,14900,42.279013,-83.698901,66.0,14.10,2014.0,49.019608,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14:04:46.663199,2017-11-01 14:04:46.663199616,2017-11-01
1,1.586651,8,706,64800,42.286977,-83.703102,65.0,10.41,1940.0,31.764706,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14:04:46.663199,2017-11-01 14:04:46.663199616,2017-11-01
2,1.586651,8,706,110300,42.293714,-83.704928,45.0,3.85,1381.0,18.431374,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14:04:46.663199,2017-11-01 14:04:46.663199616,2017-11-01
3,1.586651,8,706,124000,42.294824,-83.704580,2.0,2.17,745.0,18.823530,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14:04:46.663199,2017-11-01 14:04:46.663199616,2017-11-01
4,1.586651,8,706,126300,42.294986,-83.704521,2.0,12.54,1599.0,56.862747,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14:04:46.663199,2017-11-01 14:04:46.663199616,2017-11-01

In [ ]:
import pandas as pd
from datetime import datetime, timedelta

# Reference datetime for DayNum = 1
reference_date = datetime(2017, 11, 1)

# Convert DayNum to timestamp using vectorized timedelta
df_dynamic['DateTime'] = pd.to_timedelta(df_dynamic['DayNum'] - 1, unit='D') + reference_date

# Create separate columns for date and time
df_dynamic['Date'] = df_dynamic['DateTime'].dt.date.

# Create a time column with proper formatting
df_dynamic['Time'] = df_dynamic['DateTime'].dt.time

In [31]:
# export the dataframes to excel
df_dynamic.to_csv("VED_Dynamic_Data_Part1&2_Sampled.csv", index=False)

In [32]:
df_static.info()
df_dynamic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   VehId                                384 non-null    int64
 1   Vehicle Type                         384 non-null    object
 2   Vehicle Class                        32 non-null     object
 3   Engine Configuration & Displacement  384 non-null    object
 4   Transmission                         95 non-null     object
 5   Drive Wheels                         27 non-null     object
 6   Generalized_Weight                   368 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 21.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121815 entries, 0 to 1121814
Data columns (total 25 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   DayNum                          1121815 non-null  float64
 1   VehId                           1121815 non-null  int64
 2   Trip                            1121815 non-null  int64
 3   Timestamp(ms)                   1121815 non-null  int64
 4   Latitude[deg]                   1121815 non-null  float64
 5   Longitude[deg]                  1121815 non-null  float64
 6   Vehicle Speed[km/h]             1121739 non-null  float64
 7   MAF[g/sec]                      912960 non-null   float64
 8   Engine RPM[RPM]                 1097794 non-null  float64
 9   Absolute Load[%]                822600 non-null   float64
 10  OAT[DegC]                       653053 non-null   float64
 11  Fuel Rate[L/hr]                 44908 non-null    float64
 12  Air Conditioning Power[kW]      44826 non-null    float64
 13  Air Conditioning Power[Watts]   141762 non-null   float64
 14  Heater Power[Watts]             43777 non-null    float64
 15  HV Battery Current[A]           186588 non-null   float64
 16  HV Battery SOC[%]               186588 non-null   float64
 17  HV Battery Voltage[V]           186588 non-null   float64
 18  Short Term Fuel Trim Bank 1[%]  884167 non-null   float64
 19  Short Term Fuel Trim Bank 2[%]  339801 non-null   float64
 20  Long Term Fuel Trim Bank 1[%]   759112 non-null   float64
 21  Long Term Fuel Trim Bank 2[%]   216226 non-null   float64
 22  Time                            1121815 non-null  object
 23  DateTime                        1121815 non-null  datetime64[ns]
 24  Date                            1121815 non-null  object
dtypes: datetime64[ns](1), float64(19), int64(3), object(2)
memory usage: 214.0+ MB

In [ ]:
df_dynamic.head(100)

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Air Conditioning Power[kW],Air Conditioning Power[Watts],Heater Power[Watts],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Short Term Fuel Trim Bank 1[%],Short Term Fuel Trim Bank 2[%],Long Term Fuel Trim Bank 1[%],Long Term Fuel Trim Bank 2[%]
0,1.586651,8,706,14900,42.279013,-83.698901,66.0,14.10,2014.0,49.019608,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.586651,8,706,64800,42.286977,-83.703102,65.0,10.41,1940.0,31.764706,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.586651,8,706,110300,42.293714,-83.704928,45.0,3.85,1381.0,18.431374,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.586651,8,706,124000,42.294824,-83.704580,2.0,2.17,745.0,18.823530,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.586651,8,706,126300,42.294986,-83.704521,2.0,12.54,1599.0,56.862747,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1.865277,125,1275,308500,42.260498,-83.729772,5.0,2.71,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,1.865277,125,1275,309200,42.260498,-83.729772,5.0,2.64,0.0,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,1.865277,125,1275,409000,42.260478,-83.729722,6.0,6.79,1098.0,28.627451,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,1.062756,130,954,2000,42.297746,-83.720464,34.0,29.83,2089.0,59.607845,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,1.062756,130,954,16300,42.298514,-83.718213,48.0,3.47,1328.0,11.372549,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
import pandas as pd

print(pd.to_datetime(df_dynamic['DateTime'].head()))
print(pd.to_datetime(df_dynamic['Time'].head(), format='%H:%M:%S.%f').dt.time)
print(pd.to_datetime(df_dynamic['Time'].head(), format='%H:%M:%S.%f').dt.hour)

NameError: name 'df_dynamic' is not defined